/.bundle
/db/*.sqlite3
/db/*-journal
/db/*.sqlite3
/db/schema.rb
/db/*.sql
/config/database.yml
/config/environments/local.rb
/solr/data
*~
.DS_Store
Icon*
.sass-cache
*.orig
.autotest
.gems/*
.tm_properties
/log/*.log
/tmp
/public/system/*

#.rvmrc
